div#tabela-lista-div{
    background-color: rgb(100, 40, 700);
}

table{
    text-align: center;
}
th, td{
    padding-inline: 10px;
}
th{
    background-color: gray;
}
td{
    background-color:silver;
}

form>input:focus,  select:focus{
    background-color: darkgrey;
}
form>input, select{
    height: 25px;
    border-radius: 10px;
    border-style: groove;
    outline: none;

}
span{
    background-color: yellow;
    padding-inline: 10px;
    margin-inline: 8px;
}

/* Estilização Por Script */

.importante{
    background-color: yellow;
}