table{
    text-align: center;
}
th, td{
    padding-inline: 10px;
}
th{
    background-color: gray;
}
td{
    background-color:silver;
}

form>input, select{
    height: 25px;
    border-radius: 10px;
    border-style: groove;
    outline: none;

}

form>input:focus{
    outline: black;
}
